*{
  padding: 0;
  margin: 0;
  font-family: "Abel";
}







/*---------------------------*/
/*---------PRODUCTS----------*/
/*---------------------------*/


.main-content #contact-textbox{
  width: 100%;
  border-bottom: 1px solid rgba(204,204,204,1);;
  padding-bottom: 3%;
}

.main-content .contact-text1{
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-top: 3%;
}

.main-content .contact-text2{
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.main-content ul div{
  position: relative;
  width: 90%;
  padding-bottom: 30%;
  text-align: center;
  z-index: 100;
  overflow: hidden;
  margin-top: 0.1%;
  border: 1px solid black;
  margin-left: 5%;
  overflow: hidden;
  opacity: 0;
}
.main-content #contactimages{
  width: 100%;
  background: white;
  border-top: 1px solid rgba(204,204,204,1);
  margin-top: 4%;
  /*margin-left: 0.1878%;*/
  /*border: 1px solid black;*/

}
.main-content #contactimages li{
  position: relative;
  display: inline-block;
  float:left;
  width: 25%;
  padding-bottom: 21%;
  overflow:hidden;
}

.main-content #contactimages .contactimg1{
  position: absolute;
  width: 100%;
}
.main-content #contactimages .contactimg2{
  position: absolute;
  width: 120%;
  left: -10%;
  top:;
}
.main-content #contactimages .contactimg3{
  position: absolute;
  width: 165%;
  left: -25%;
}
.main-content #contactimages .contactimg4{
  position: absolute;
  width: 160%;
  left: -15%;
}

.main-content #contactimages img{
  position: absolute;
  width: 100%;
}

.main-content div form{
  position: relative;
  margin-top: 5%;
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-content div form .form-title{
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 30px;
}

.main-content div form input{
  width: 100%;
  font-size: 20px;
  height: 1.9em;
  float: left;
}

.main-content div form input[name="firstname"]{
  width: 50%;
}

.main-content div form input[name="lastname"]{
  width: 50%;
}

.main-content div form select{
  width: 100%;
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.main-content div form textarea{
  width: 100%;
  font-size: 15px;
  height: 17em;
}

.main-content div form .btn{
  width: 25%;
  height:2.5em;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*thank you page stuff*/

.thank-you-text-wrapper{
  width: 100%;
  height: 600px;
  text-align: center;
  font-size: 35px;
}

.thank-you-text{
  margin: auto;
  position: absolute;
  top: 20%; right: 0; left: 0;
  height: 400px;
}
/*.productimages #shirts p{
  color: black;
  z-index: 10;
  opacity: 0;
}*/

/*---------------------------*/
/*---------SIDENAV-----------*/
/*---------------------------*/

@media (max-width: 1150px){
  .main-content div form{
    width: 75%;
  }
}

@media (max-width: 600px){
  .main-content #contactimages li{
    width: 50%;
    padding-bottom: 40%;
  }
  .main-content div form{
    width: 90%;
  }
}
