
body{
  background: black;
  width: 100%;
  background: eef1f3;
  background: rgba(238,241,243,1);
}

/*---------------------------*/
/*----------PICHEAD----------*/
/*---------------------------*/
#headercoloroverlay{
	position: absolute;
	width: 100%;
	padding-bottom: 21.9%;
	z-index: 5;
	background: 014a67;
  background: rgb(0, 0, 0);
	opacity: 0.3;
}

.backgroundfixed{
	position: relative;
  width: 100%;
  padding-bottom: 21.9%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

#productheader {
  position: absolute;
  width: 11%;
  padding-bottom: 3.5%;
  z-index: 6;
  bottom: 27%;
  left:19%;
}


#productheader p{
  position: absolute;
  left:10;
  bottom:0;
  z-index: 5;
  font-family: "Abel";
  font-size: 50;
  color: white;
}

/*---------------------------*/
/*---------PRODUCTS----------*/
/*---------------------------*/

.main-content {
  position: relative;
  width: 61.5%;
  margin: auto;
  margin-top: -6.5%;
  z-index: 10;
  background-color: white;
  height: auto;
  border: 1px solid cccccc;
  border: 1px solid rgba(204,204,204,1);

}

.main-content ul{
  list-style-type: none;
  z-index: 10;
  background: white;
  overflow:hidden;
}

/*#background2 {
	width: 163.3%;
  height: 85%;
	position: absolute;
	margin-left: -32%;
	margin-top: 10.6%;
	background: eef1f3;
	background: rgba(238,241,243,1);
	z-index: -101;
}*/
/*#whitebackground {
	position: absolute;
	z-index: -100;
	height: 100%;
	width: 100%;
	background: white;
	border: 1px solid cccccc;
	border: 1px solid rgba(204,204,204,1);
}
*/

/*---------------------------*/
/*---------SIDENAV-----------*/
/*---------------------------*/

/*---------------------------*/
/*----------FOOTER-----------*/
/*---------------------------*/

footer{
	position: relative;
	width: 100%;
  margin-top: -9%;
  padding-bottom: 20%;
  text-align: center;

  background: black;
}

#footertext{
  position: absolute;
  width: 100%;
  top: 60%;
  font-size: 22px;
  padding-bottom: 2%;
  color: white;
  background: black;

}

@media (max-width: 1260px){
  .nav{
    position: relative;
    background-color: rgba(0,0,0,1);
  }
  .main-content{
    width: 100%;
    margin-top: 0%;
    border-left: none;
    border-right: none;
  }
  #productheader{
    left: 0;
    bottom: 0;
  }

  #headercoloroverlay{
    padding: 0;
    height: 232px;
  }
  .backgroundfixed{
    padding: 0;
    height: 232px;
  }
}