
  /*---------------------------*/
  /*----------HEADER-----------*/
  /*---------------------------*/


  .headrectwrapper{
    border: 2px solid black;
    width: 13.05%;
    /*margin-left:169;*/
    left: 5.95%;
    position: fixed;
    z-index: 100;
    padding-bottom: 21.6%;
    /*display: inline-block;*/
  }

  .headrect{
    position: absolute;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .headrect img:hover{
    opacity: 0.8;
  }

  .OOSlogo{
    width: 90%;
    margin: 10px auto auto 185;
    margin: 1% auto auto 4%;
  }

  .oldlogo{
    width: 100%;
    margin: 305px auto auto 176px;
    margin: 1% auto auto 0.5%;
  }

  .socmedrect{
    width: 100%;
    height: 15.4%;
    /*margin-left: 169px;*/
     /*24.6*/
    top: 85%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.9);
  }



  .instagram{
    width: 17%;
    margin: 4% 0% 0% 7.5%;
  }
  .facebook{
    width: 17%;
    margin: 0% 0% 0% 1%;
  }
  .twitter{
    width: 17%;
    margin: 0% 0% 2% 5%;
    /*margin: 0px auto auto 20px;*/
  }
  .youtube{
    width: 17%;
    margin: 0% 0% 2% 5%;
  }


  .nav{
    width: 61.5%;
    height: 70px;
    border: 2px solid black;
    display: block;
    position: fixed;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 100;
    margin: auto;
    left: 0;
    right: 0;
  }

  .nav .MenuButtons{
    position: relative;
    width: 100%;
    z-index: 5;
    bottom: 0;
    float: left;
    /*border: 2px solid white;*/
  }

  .nav .MenuButtons li {
    display: inline-block;
    width: 16.6%;
    height: 100%;
    font-size: 22px;
    z-index: 5;
    text-align: center; 
    float:left;
    line-height: 90px;
  }

  li a {
    text-decoration: none;
    color: white;
    /*border: 2px solid white;*/
    }

  li a:hover {
    color: 049ef4;
    background-color: none;
  }

  /*TABLET*/

  .nav .top-left-tablet{
    display: none;
  }

  .nav .top-middle-tablet{
    display: none;
  }

  .nav .top-right-tablet{
    display: none;
  }

  /*MOBILE VERSION*/

  .nav .top-left-mobile{
    display: none;
  }

  .nav .top-right-mobile{
    display: none;
  }

  .nav .top-middle-mobile{
    display: none;
  }

  .drop-down-menu{
    display: none;
  }



@media (max-width: 1260px){
  .nav{
    width: 100%;
  }
  .headrectwrapper{
    display: none;
  }

  .nav .MenuButtons{
    float:left;
    width: 60%;
  }

  .nav .MenuButtons li{
    font-size: 18px;
    line-height: 115px;
  }
  .nav .top-left-tablet {
    display: block;
    width: 20%;
    height: 100%;
    float:left;
    display: block;
  }

  .nav .top-middle-tablet{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  .nav .top-middle-tablet img{
    height: 45px;
    display: block;
    margin: auto;
  }

  .nav .top-right-tablet {
    display: block;
    width: 20%;
    height: 100%;
    float:left;
/*    border: 2px solid red;*/
  }
   .nav .top-left-tablet img{
    height: 100%;
    width: 150px;
    display: block;
    margin: auto;
  }
  .nav .socmedrect {
    position: relative;
    height: 100%;
    background: none;
    width: 75px;
    top: 0;
    display: block;
    margin: auto;
    
}
  .instagram{
    width: 30px;
    margin: 4% 0% 0% 5%;
  }
  .facebook{
    width: 30px;
    margin: 0% 0% 0% 0.1%;
  }
  .twitter{
    width: 30px;
    margin: 0% 0% 2% 4%;
    /*margin: 0px auto auto 20px;*/
  }
  .youtube{
    width: 30px;
    margin: 0% 0% 0% 3%;
    right: 0;

  }

}

@media (max-width: 650px){

  .backgroundfixed #prodheadtext{
    font-size: 40px;
  }

  .nav .socmedrect{
    display: none;
  }
  .nav .top-left-tablet{
    display: none;
  }
  .nav .top-middle-tablet{
    display: none;
  }
  .nav .top-right-tablet{
    display: none;
  }
  .nav .MenuButtons{
    display: none;
  }

  .nav .top-left-mobile{
    display: inline-block;
    width: 30%;
    height: 100%;
    float: left;
  }

  .nav .top-middle-mobile{
    display: block;
    width: 40%;
    height: 100%;
    float: left;
  }

  .nav .top-right-mobile{
    display: block;
    width: 30%;
    height: 100%;
    float: left;
  }

  .nav .top-left-mobile img{
    position: absolute;
    height: 60%;
    top: 15px;
    left: 10px;
  }

  .nav .top-middle-mobile img{
    position: absolute;
    height: 80%;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 8px;

  }

  .nav .top-right-mobile img{
    position: absolute;
    height: 80%;
    top: 8px;
    right: 15;
  }

    /*drop down menu*/
  .drop-down-menu{
    display: block;
    height: 280px;
    width: 100%;
    background-color: 055d97;
    border-bottom: 1px solid black;
  }
  .drop-down-menu .drop-down-menu-buttons{
    width: 100%;
    height: 100%;
  }
  .drop-down-menu .drop-down-menu-buttons li{
    font-color: white;
    height: 14%;
    width: 100%;
    text-align: center;
    display: inline-block;
    float: left;
    font-size: 25px;
    color: white;
    line-height: 45px;
    border-top: 1px solid black;
  }

  .drop-down-menu .drop-down-menu-buttons li:hover{
    color: 049ef4;
  }
  .socmedrecttablet{
    position: relative;
    width: 220px;
    display: block;
    margin: auto;
    top: 2px;
  }
  .socmedrecttablet img{
    position: relative;
    width: 25%;
    float: left;
    display: block;
    margin: auto;

  }

  .socmedrecttablet .instagram{
    width: 17%;
    margin: 0% 0% 0% 15%;
  }
  .socmedrecttablet .facebook{
    width: 17%;
    margin: 0% 0% 0% 1%;
  }
  .socmedrecttablet .twitter{
    width: 17%;
    margin: 1% 0% 2% 5%;
    /*margin: 0px auto auto 20px;*/
  }
  .socmedrecttablet .youtube{
    width: 16%;
    margin: 1% 0% 0% 5%;
  }

}

@media (max-width: 500px){
  .nav .top-middle-mobile img{
    height: auto;
    width: 150px;
    top: 25%;
  }
}



