*{
  padding: 0;
  margin: 0;
  font-family: "Abel";
}


Body{
  background: black;
  width: 100%;
  height: 100%;
}


/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

.header-logo{
  position: fixed;
  /*height: 44.2%;*/
  padding-bottom: 21.8%;
  width: 75%;
  margin-left: 7%;
  z-index: 1000;
}

svg{
  background-color: rgba(0, 0, 0, 0.65);
}
.headrect{
  border: 2px solid black;
  width: 17.4%;
  /*margin-left:169;*/
  margin-top: 0%;
  height: 84%;
  position: absolute;
  z-index: 2;
}
.socmedrect{
  border: 2px solid black;
  width: 17.4%;
  height: 14.4%;
  /*margin-left: 169px;*/
  margin-top: 24.6%;
  margin-right: 0px;
  margin-bottom: 0;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}
.OOSlogo{
  position: absolute;
  z-index: 6;
  width: 15%;
  margin: 1% auto auto 1%;
}

.oldlogo{
  position: absolute;
  z-index: 10;
  width: 17%;
  margin: 21.5% auto auto 0.5%;
}

.socialmedbutt{
  position:absolute;
  z-index:6;
  border: 2px solid black;
  width: 17.4%;
  height: 14.4%;
  margin: 24.6% auto auto 0%;
  display: inline-block;
}

.instagram{
  width: 17%;
  margin: 4% 0% 0% 7.5%;
}
.facebook{
  width: 17%;
  margin: 0% 0% 0% 1%;
}
.twitter{
  width: 17%;
  margin: 0% 0% 2% 5%;
  /*margin: 0px auto auto 20px;*/
}
.youtube{
  width: 17%;
  margin: 0% 0% 0% 5%;
}

nav{
  height: 22%;
  width: 82%;
  border: 2px solid black;
  display: block;
  margin-left: 17.57%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 6;
}

nav ul{
  position absolute;
  display: table;
  height: 130%;
  width: 100%;
  z-index: 5;
}

nav ul li {
  display: table-cell;
  vertical-align:middle;
  width: 16.666667%;
  text-align: center;
  font-size: 25px;
  z-index: 5;
}

li a {
  text-decoration: none;
  color: white;
  align-self: center;
  }

li a:hover {
  color: 049ef4;
  background-color: none;
}

/*---------------------------*/
/*----------PICHEAD----------*/
/*---------------------------*/
#headercoloroverlay{
	position: absolute;
	width: 100%;
	padding-bottom: 27.88%;
	z-index: 5;
	background: 0868a5;
	background: rgba(8, 104, 165, 0.8);
	opacity: 0.45;
}

.backgroundfixed{
	width: 100%;
}

.backgroundfixed img{
	position: absolute;
	width: 100%;
	margin-top: -5%;
}

#productheader {
  position: absolute;
  width: 11%;
  padding-bottom: 3.5%;
  z-index: 0100;
  margin-top: 18.8%;
  margin-left: 20%;
}


#productheader p{
  position: absolute;
  left:10;
  bottom:0;
  z-index: 5;
  font-family: "Abel";
  font-size: 50;

  color: white;
}

/*---------------------------*/
/*---------PRODUCTS----------*/
/*---------------------------*/

.productimages {
  position: absolute;
  margin-top: 21.72%;
  margin-left: 20.27%;
  width: 61.5%;
  padding-bottom: 0%;
  background: white;
  z-index: 10;

}
#background2 {
	width: 162.6%;
	height: 100%;
	position: absolute;
	margin-left: -32.93%;
	margin-top: 0%;
	background: eef1f3;
	background: rgba(238,241,243,1);
	z-index: -100;
  border: 1px solid cccccc;
  border: 1px solid rgba(204,204,204,1);
}
#whitebackground {
	position: absolute;
	z-index: -10;
	height: 100%;
	width: 100%;
	background: white;
	border: 1px solid cccccc;
	border: 1px solid rgba(204,204,204,1);
}
.productimages ul{
  list-style-type: none;
  z-index: 10;
}

.productimages ul li{
  display: inline-block;
  float:left;
  padding-bottom:6%;
  width: 31%;
  margin-left: 1.5%;
  text-align: center;
  margin-top: 3%;
  z-index: 10;
}

.productimages ul footer{
	display: inline-block;
	float:left;		
	width: 31%;
	padding-bottom: 10%;
	text-align: center;
	margin-top: 3%;
	z-index: 10;
}

.productimages ul li:hover{
  color: rgba(0,0,0,0.5);
}
.productimages img {
  display: block;
  width: 100%;
  float: left;
  color:black;
  z-index: 10;
}

.productimages #shirts img p{
  color: black;
  z-index: 10;
}

.productimages #shirts a{
  color: black;
}

/*---------------------------*/
/*---------SIDENAV-----------*/
/*---------------------------*/
#sidenav {
  position: fixed;
  width: 8%;
  padding-bottom: 0%;
  margin-top: 29%;
  margin-left: 12.09%;
  z-index: 15;
  background: eef1f3;
  overflow: hidden;
}

#sidenav p {
  margin-left: 8%;
  font-size: 15;
  padding-top: 2%;
  padding-bottom: 2%;
}
#sidenav:first-child{
  margin-top: 10%;
}

/*---------------------------*/
/*----------FOOTER-----------*/
/*---------------------------*/

#pagefooter{
	position: absolute;
	width: 100%;
	z-index: 1000;
	border: 2px solid blue;
}

/*#pagefootertext{
  text-align: center;
  position: absolute;
  z-index: 10;
  color:  white;
  margin-top: 4.5%;
  width: 100%;
  font-size: 20px;
}*/
